{% extends 'base.html' %}

{% block content %}

    <h1>List of events</h1>

    <form action="/events" method="post">
        <label for="date">Date</label>
        <input type="text" name="date" id="date" placeholder="add date">
        <label for="name">Event Name</label>
        <input type="text" name="name" id="name" placeholder="add your event">
        <label for="guests">Guests</label>
        <input type="text" name="guests" id="guests" placeholder="add number of guests">
        <label for="location">Location</label>
        <input type="text" name="location" id="location" placeholder="add location">
        <label for="description">Description</label>
        <input type="text" name="description" id="description" placeholder="add description">
        <label for="recurring">Is recurring event?</label>
        <select name="recurring" id="recurring">
            <option value="True">True</option>
            <option value="False">False</option>
        </select>
        <input type="submit" value="Add Event">
        
    </form>
   
    <ul>
        {% for event in events %}

        <li>
            <p>{{ event.name }}: 
            <b>{{event.date}}:</b>
            <b>{{event.guests}}:</b>
            <b>{{event.location}}:
            <b>{{event.description}}</b>

            {% if event.recurring == "True"%}
             <!-- any kind of condition can go here -->
              <span> &#9989; </span>
            else:
              
            {% endif %}
            </p>
          
        </li>

        {% endfor %}
    </ul>

{% endblock %}